
<body>
	<%= render partial: "customer/header" %>
	
	<%= render "customer/slider" %>
<section>
		<div class="container">
			<div class="row">
				<%= render "customer/left" %>
				<div class="col-sm-9 padding-right">
					<%= render "customer/product" %>
					<%= render "customer/recommended" %>
				</div>
			</div>
		</div>
	</section>
	
	
	<%= render "customer/footer" %>
	

</body>
